@import "tailwindcss";

@theme {
  --font-poppins: "poppins", sans-serif;
  --font-poppins-b: "poppins-b", sans-serif;
  --font-poppins-m: "poppins-m", sans-serif;
  --font-poppins-l: "poppins-l", sans-serif;

  --font-figtree: "figtree", sans-serif;
  --font-figtree-b: "figtree-b", sans-serif;
  --font-figtree-m: "figtree-m", sans-serif;
  --font-figtree-l: "figtree-l", sans-serif;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-b";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-m";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-l";
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("../fonts/Figtree-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Figtree-b";
  src: url("../fonts/Figtree-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Figtree-m";
  src: url("../fonts/Figtree-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Figtree-l";
  src: url("../fonts/Figtree-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
